* {
  color-scheme: light dark;
  padding: 0;
}


@keyframes welcome-slide {
  0% {
    top: 0px;
}
 
100% {
    bottom: 275px;
}
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


#navbar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%; 
  background-color: chartreuse;
}

#navbar-selectors {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(32, 93, 4);
  border-radius: 1.5px;
  text-decoration: none;
  color: white;
  padding: 7px 1em;
  margin: 2.5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.89);

}

#navbar-selectors:hover {
  background-color: rgb(47, 132, 7);
  border-radius: 1.5px;
  text-decoration: none;
  color: white;
  padding: 7px 1em;
  margin: 2.5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: .75s linear;
}

.dog-pics {
  width: 150px;
  height: auto;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 275px;
  font-size: 75px;
  animation: welcome-slide 2.5s ease-in;

}

.single-player-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 375px;
  background-color: lightgrey;
  border-radius: 25px;
  margin: 6px;
  color: black;

}

.info-container {
  width: 100%;
}



/* For animations: name duration timing-function delay iteration-count direction fill-mode;




*NOTES*
- seperate Single Player into 2 components (Single Player and the card)
- when press card => should take you to home/singleplayer/Id and take ID from fetch call and display more info in component





*/